In [1]:
import pandas as pd

df = pd.read_csv('/Users/Paul/Desktop/General_Assembly/DSI_SM_01/projects/01-projects-weekly/project-04/assets/indeed-scraped-job-postings.csv')

In [21]:
df

,city,company,salary,summary,title,parsed_salary
0,San+Francisco,MarkMonitor,"$180,000 a year","Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist,180000.0
1,San+Francisco,Workbridge Associates,"$130,000 - $180,000 a year",3+ years of industry experience in a data scie...,Senior Data Scientist,155000.0
2,San+Francisco,Mines.io,"$80,000 - $120,000 a year",We are looking for a data scientist/developer ...,Full-Stack Data Scientist,100000.0
3,San+Francisco,Workbridge Associates,"$150,000 - $180,000 a year",In this position you will share programming an...,Data Scientist,165000.0
4,San+Francisco,Smith Hanley Associates,"$140,000 a year","This person will recruit, build and lead a tea...",Data Scientist,140000.0
5,San+Francisco,HSF Consulting,"$300,000 a year",Teams included Data Services(including data en...,VP of Data Services,300000.0
6,San+Francisco,All-In Analytics,"$100,000 - $150,000 a year",Fraud Data Scientist. Seeking someone with ski...,Fraud Data Scientist,125000.0
7,San+Francisco,Brilent,"$130,000 a year","Perform large-scale data analysis, find intere...",Senior Data Scientist,130000.0
8,San+Francisco,HSF Consulting,"$160,000 a year",More data- they simply have more data than the...,Senior Data Scientist,160000.0
9,San+Francisco,All-In Analytics,"$100,000 - $150,000 a year",Fraud Data Scientist. Seeking someone with ski...,Fraud Data Scientist,125000.0
10,San+Francisco,Jobspring Partners,"$150,000 - $175,000 a year",Given the high volume of data collected by the...,Python Developer (Machine Learning),162500.0
11,San+Francisco,University of California Berkeley,"$3,811 - $3,889 a month","Must be able to work in a greenhouse, manage d...","Staff Research Associate, PMB",3850.0
12,San+Francisco,Workbridge Associates,"$100,000 - $200,000 a year","You will collaborate with Product, Data Engine...",Chief Algorithm Developer (Signal Processing) ...,150000.0
13,San+Francisco,HSF Consulting,"$300,000 a year",Teams included Data Services(including data en...,VP of Data Services,300000.0
14,San+Francisco,University of California Berkeley,"$43,692 - $51,120 a year",Demonstrated experience with programming for b...,Post-Doctoral Scholar-Employee: Analysis of om...,47406.0
15,San+Francisco,Workbridge Associates,"$130,000 - $180,000 a year",This leading company has a job opening for Pri...,Principal Data Scientist,155000.0
16,San+Francisco,Workbridge Associates,"$100,000 - $200,000 a year","You will collaborate with Product, Data Engine...",Chief Algorithm Developer (Signal Processing) ...,150000.0
17,San+Francisco,Workbridge Associates,"$130,000 - $150,000 a year","2+ years of experience in Data Scientist, Quan...",Data Scientist (Econometrics),140000.0
18,San+Francisco,Workbridge Associates,"$100,000 - $140,000 a year",Solid experience in data science. Established ...,Data Scientist (Statistics/Economics),120000.0
19,San+Francisco,Corporate Labs Technology,"$110,000 - $180,000 a year","Machine Learning Developer Brisbane, CA Sign o...",Data Scientist (Machine Learning),145000.0
20,San+Francisco,Brilent,"$150,000 a year",The Brilent team brings together deep experien...,Senior NLP Scientist/Engineer,150000.0
21,San+Francisco,Workbridge Associates,"$140,000 - $200,000 a year",The Senior Data Scientist position requires a ...,Senior Data Scientist (Autonomous Vehicle Rese...,170000.0
22,San+Francisco,3coast,"$80,000 - $200,000 a year",VP - Predictive Modeling / Data Scientist. Han...,VP - Predictive Modeling / Data Scientist,140000.0
23,San+Francisco,University of California Berkeley,"$67,500 - $81,600 a year",Ensures accuracy and completeness of data in m...,"Database Administrator, GSE",74550.0
24,San+Francisco,"NextGen Jane, Inc.","$65,000 a year",Scientific Researcher – Next Gen Sequencing Sc...,Scientific Researcher,65000.0
25,San+Francisco,Jobspring Partners,"$180,000 - $275,000 a year",This is an opportunity to lead a team of talen...,Vice President Engineering (Big Data/ Machine ...,227500.0
26,San+Francisco,Workbridge Associates,"$130,000 - $150,000 a year","2+ years of experience in Data Scientist, Quan...",Data Scientist (Econometrics),140000.0
27,San+Francisco,Workbridge Associates,"$100,000 - $140,000 a year",Solid experience in data science. Established ...,Data Scientist (Statistics/Economics),120000.0
28,San+Francisco,Workbridge Associates,"$140,000 - $200,000 a year",The Senior Data Scientist position requires a ...,Senior Data Scientist (Autonomous Vehicle Rese...,170000.0
29,San+Francisco,Talent Compliance Consulting Services,"$100,000 a year",Strong data analysis skills including setting ...,Quality Control Scientist,100000.0
...,...,...,...,...,...,...
4761,Chicago,Workbridge Associates,"$110,000 - $150,000 a year",This agile team will create and develop new so...,Senior Java Computer Scientist,130000.0
4762,Chicago,Clinical Management Consultants,"$71,384 - $93,274 a year",Manager Health Information Management Data Ana...,Manager Health Information Management Data Ana...,82329.0
4763,Chicago,Workbridge Associates,"$170,000 a year","Big Data with Hadoop, Hive, Impala. Mid, Senio...",Director of Data Analytics,170000.0
4764,Chicago,Clinical Management Consultants,"$71,384 - $93,274 a year",Manager Health Information Management Data Ana...,Manager Health Information Management Data Ana...,82329.0
4765,Chicago,Workbridge Associates,"$170,000 a year","Big Data with Hadoop, Hive, Impala. Mid, Senio...",Director of Data Analytics,170000.0
4766,Chicago,Workbridge Associates,"$110,000 - $150,000 a year",This agile team will create and develop new so...,Senior Java Computer Scientist,130000.0
4767,Chicago,Clinical Management Consultants,"$71,384 - $93,274 a year",Manager Health Information Management Data Ana...,Manager Health Information Management Data Ana...,82329.0
4768,Chicago,Workbridge Associates,"$170,000 a year","Big Data with Hadoop, Hive, Impala. Mid, Senio...",Director of Data Analytics,170000.0
4769,Chicago,Workbridge Associates,"$110,000 - $150,000 a year",This agile team will create and develop new so...,Senior Java Computer Scientist,130000.0
4770,Chicago,Clinical Management Consultants,"$71,384 - $93,274 a year",Manager Health Information Management Data Ana...,Manager Health Information Management Data Ana...,82329.0
4771,Chicago,Workbridge Associates,"$170,000 a year","Big Data with Hadoop, Hive, Impala. Mid, Senio...",Director of Data Analytics,170000.0
4772,Chicago,Workbridge Associates,"$110,000 - $150,000 a year",This agile team will create and develop new so...,Senior Java Computer Scientist,130000.0
4773,Chicago,Workbridge Associates,"$110,000 - $150,000 a year",This agile team will create and develop new so...,Senior Java Computer Scientist,130000.0
4774,Chicago,Clinical Management Consultants,"$71,384 - $93,274 a year",Manager Health Information Management Data Ana...,Manager Health Information Management Data Ana...,82329.0
4775,Chicago,Workbridge Associates,"$170,000 a year","Big Data with Hadoop, Hive, Impala. Mid, Senio...",Director of Data Analytics,170000.0
4776,Chicago,Workbridge Associates,"$110,000 - $150,000 a year",This agile team will create and develop new so...,Senior Java Computer Scientist,130000.0
4777,Chicago,Clinical Management Consultants,"$71,384 - $93,274 a year",Manager Health Information Management Data Ana...,Manager Health Information Management Data Ana...,82329.0
4778,Chicago,Workbridge Associates,"$170,000 a year","Big Data with Hadoop, Hive, Impala. Mid, Senio...",Director of Data Analytics,170000.0
4779,Chicago,Clinical Management Consultants,"$71,384 - $93,274 a year",Manager Health Information Management Data Ana...,Manager Health Information Management Data Ana...,82329.0
4780,Chicago,Workbridge Associates,"$170,000 a year","Big Data with Hadoop, Hive, Impala. Mid, Senio...",Director of Data Analytics,170000.0
4781,Chicago,Clinical Management Consultants,"$71,384 - $93,274 a year",Manager Health Information Management Data Ana...,Manager Health Information Management Data Ana...,82329.0
4782,Chicago,Workbridge Associates,"$170,000 a year","Big Data with Hadoop, Hive, Impala. Mid, Senio...",Director of Data Analytics,170000.0
4783,Chicago,Workbridge Associates,"$110,000 - $150,000 a year",This agile team will create and develop new so...,Senior Java Computer Scientist,130000.0
4784,Chicago,Clinical Management Consultants,"$71,384 - $93,274 a year",Manager Health Information Management Data Ana...,Manager Health Information Management Data Ana...,82329.0
4785,Chicago,Workbridge Associates,"$170,000 a year","Big Data with Hadoop, Hive, Impala. Mid, Senio...",Director of Data Analytics,170000.0
4786,Chicago,Workbridge Associates,"$110,000 - $150,000 a year",This agile team will create and develop new so...,Senior Java Computer Scientist,130000.0
4787,Chicago,Clinical Management Consultants,"$71,384 - $93,274 a year",Manager Health Information Management Data Ana...,Manager Health Information Management Data Ana...,82329.0
4788,Chicago,Workbridge Associates,"$170,000 a year","Big Data with Hadoop, Hive, Impala. Mid, Senio...",Director of Data Analytics,170000.0
4789,Chicago,Clinical Management Consultants,"$71,384 - $93,274 a year",Manager Health Information Management Data Ana...,Manager Health Information Management Data Ana...,82329.0
4790,Chicago,Workbridge Associates,"$170,000 a year","Big Data with Hadoop, Hive, Impala. Mid, Senio...",Director of Data Analytics,170000.0

                       salary
0             $180,000 a year
1  $130,000 - $180,000 a year
2   $80,000 - $120,000 a year
3  $150,000 - $180,000 a year
4             $140,000 a year

/Users/Paul/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

IndexingError: Unalignable boolean Series key provided