In [48]:
import pandas as pd

df = pd.read_csv('/Users/Paul/Desktop/General_Assembly/DSI_SM_01/projects/01-projects-weekly/project-04/ALLSalaries.csv')

In [49]:
df.head()

,Unnamed: 0,city,company,salary,summary,title,parsed_salary
0,0,San+Francisco,MarkMonitor,"$180,000 a year","Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist,180000.0
1,1,San+Francisco,Workbridge Associates,"$130,000 - $180,000 a year",3+ years of industry experience in a data scie...,Senior Data Scientist,155000.0
2,2,San+Francisco,Mines.io,"$80,000 - $120,000 a year",We are looking for a data scientist/developer ...,Full-Stack Data Scientist,100000.0
3,3,San+Francisco,Workbridge Associates,"$150,000 - $180,000 a year",In this position you will share programming an...,Data Scientist,165000.0
4,4,San+Francisco,Smith Hanley Associates,"$140,000 a year","This person will recruit, build and lead a tea...",Data Scientist,140000.0

In [50]:
VP = df[df['title'].str.contains("VP","Vice President")]

In [51]:
VP.head(1)

,Unnamed: 0,city,company,salary,summary,title,parsed_salary
5,5,San+Francisco,HSF Consulting,"$300,000 a year",Teams included Data Services(including data en...,VP of Data Services,300000.0

In [52]:
Senior = df[df['title'].str.contains("Sr","Senior")]

In [53]:
Senior.head()

,Unnamed: 0,city,company,salary,summary,title,parsed_salary
428,431,New+York,Wade & Wendy,"$130,000 a year",Programmatically adding data to and manipulati...,Sr. Machine Learning Data Scientist,130000.0
1244,3531,Seattle,All-In Analytics,"$110,000 - $130,000 a year","Data Scientist, Compensation Analytics. Must b...","Sr. Data Scientist, Compensation Analytics",120000.0
1246,3533,Seattle,All-In Analytics,"$110,000 - $130,000 a year","Data Scientist, Compensation Analytics. Must b...","Sr. Data Scientist, Compensation Analytics",120000.0
1258,3568,Seattle,All-In Analytics,"$150,000 - $175,000 a year","Working with a team of Analysts, Software Deve...",Sr. Global Device Manager,162500.0
1273,3627,Chicago,Smith Hanley Associates,"$150,000 - $200,000 a year",Experience working with syndicated data and PO...,(Sr.) Statistical Consultant,175000.0

In [54]:
Junior = df[df['title'].str.contains("JR")]

In [55]:
Junior

,Unnamed: 0,city,company,salary,summary,title,parsed_salary
491,496,New+York,Hire Solutions Inc.,"$200,000 a year","We are looking for data scientist, NLP special...",JR. Full Stack Developer,200000.0
501,506,New+York,Hire Solutions Inc.,"$200,000 a year","We are looking for data scientist, NLP special...",JR. Full Stack Developer,200000.0

In [56]:
#intern returns only a word containing international not intern

In [57]:
Intern = df[df['title'].str.contains("Intern")]

In [58]:
Intern

,Unnamed: 0,city,company,salary,summary,title,parsed_salary
850,874,Austin,JE Compliance,"$37,000 - $45,000 a year",The ability to interact with many different ty...,International Environmental Specialist,41000.0

In [59]:
Python = df[df['title'].str.contains("Python","python")]

In [60]:
Python.head()

,Unnamed: 0,city,company,salary,summary,title,parsed_salary
10,10,San+Francisco,Jobspring Partners,"$150,000 - $175,000 a year",Given the high volume of data collected by the...,Python Developer (Machine Learning),162500.0
30,32,San+Francisco,Workbridge Associates,"$110,000 - $130,000 a year",Industry experience as a data scientist. Popul...,"Senior Data Scientist (Python, R, recommendation)",120000.0
35,37,San+Francisco,Workbridge Associates,"$120,000 - $140,000 a year","A really fast-growing, small startup company h...",Data Scientist - Python,130000.0
39,41,San+Francisco,Workbridge Associates,"$110,000 - $130,000 a year",Industry experience as a data scientist. Popul...,"Senior Data Scientist (Python, R, recommendation)",120000.0
1270,3624,Chicago,Workbridge Associates,"$100,000 - $140,000 a year",Hadoop/Hive/Pig Big data Experience. A non-pro...,"Senior Data Scientist (Python, R) in Des Plaines",120000.0

In [61]:
FullStack = df[df['title'].str.contains("Full Stack")]

In [62]:
FullStack

,Unnamed: 0,city,company,salary,summary,title,parsed_salary
491,496,New+York,Hire Solutions Inc.,"$200,000 a year","We are looking for data scientist, NLP special...",JR. Full Stack Developer,200000.0
501,506,New+York,Hire Solutions Inc.,"$200,000 a year","We are looking for data scientist, NLP special...",JR. Full Stack Developer,200000.0

In [63]:
Scientist = df[df['title'].str.contains("Scientist")]

In [64]:
Scientist.head()

,Unnamed: 0,city,company,salary,summary,title,parsed_salary
0,0,San+Francisco,MarkMonitor,"$180,000 a year","Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist,180000.0
1,1,San+Francisco,Workbridge Associates,"$130,000 - $180,000 a year",3+ years of industry experience in a data scie...,Senior Data Scientist,155000.0
2,2,San+Francisco,Mines.io,"$80,000 - $120,000 a year",We are looking for a data scientist/developer ...,Full-Stack Data Scientist,100000.0
3,3,San+Francisco,Workbridge Associates,"$150,000 - $180,000 a year",In this position you will share programming an...,Data Scientist,165000.0
4,4,San+Francisco,Smith Hanley Associates,"$140,000 a year","This person will recruit, build and lead a tea...",Data Scientist,140000.0

In [65]:
Research = df[df['title'].str.contains("Research")]

In [66]:
Research.head()

,Unnamed: 0,city,company,salary,summary,title,parsed_salary
20,21,San+Francisco,Workbridge Associates,"$140,000 - $200,000 a year",The Senior Data Scientist position requires a ...,Senior Data Scientist (Autonomous Vehicle Rese...,170000.0
23,24,San+Francisco,"NextGen Jane, Inc.","$65,000 a year",Scientific Researcher – Next Gen Sequencing Sc...,Scientific Researcher,65000.0
27,28,San+Francisco,Workbridge Associates,"$140,000 - $200,000 a year",The Senior Data Scientist position requires a ...,Senior Data Scientist (Autonomous Vehicle Rese...,170000.0
435,439,New+York,Health Research Incorporated,"$53,875 a year",Experience analyzing large data sets using SAS...,Research Scientist I,53875.0
442,446,New+York,Analytic Recruiting,"$100,000 a year",This includes building predictive models using...,Senior Statistical Market Research Analyst,100000.0

In [67]:
Manager = df[df['title'].str.contains("Manager")]

In [69]:
Manager.head()

,Unnamed: 0,city,company,salary,summary,title,parsed_salary
438,442,New+York,Averity,"$175,000 - $275,000 a year",We are a top-tier asset manager looking for a ...,Quantitative Data Scientist - Large Asset Manager,225000.0
1255,3562,Seattle,Department Of Veterans Affairs,"$75,925 - $98,702 a year","Primary LIM Support focus will be Central Lab,...",Medical Technologist (Laboratory Information M...,87313.5
1257,3565,Seattle,Department Of Veterans Affairs,"$75,925 - $98,702 a year","Primary LIM Support focus will be Central Lab,...",Medical Technologist (Laboratory Information M...,87313.5
1258,3568,Seattle,All-In Analytics,"$150,000 - $175,000 a year","Working with a team of Analysts, Software Deve...",Sr. Global Device Manager,162500.0
1278,3632,Chicago,Workbridge Associates,"$185,000 a year",They need someone with the experience to be ha...,"Manager of Data Science (Python, R)",185000.0

In [70]:
MachineLearning = df[df['title'].str.contains("Machine Learning")]

In [72]:
MachineLearning.head()

,Unnamed: 0,city,company,salary,summary,title,parsed_salary
10,10,San+Francisco,Jobspring Partners,"$150,000 - $175,000 a year",Given the high volume of data collected by the...,Python Developer (Machine Learning),162500.0
18,19,San+Francisco,Corporate Labs Technology,"$110,000 - $180,000 a year","Machine Learning Developer Brisbane, CA Sign o...",Data Scientist (Machine Learning),145000.0
24,25,San+Francisco,Jobspring Partners,"$180,000 - $275,000 a year",This is an opportunity to lead a team of talen...,Vice President Engineering (Big Data/ Machine ...,227500.0
33,35,San+Francisco,Workbridge Associates,"$165,000 - $195,000 a year",The role will be working on technology that pr...,"Staff Engineer, Machine Learning (Scala)",180000.0
40,42,San+Francisco,Jobspring Partners,"$180,000 - $275,000 a year",This is an opportunity to lead a team of talen...,Vice President Engineering (Big Data/ Machine ...,227500.0

In [73]:
Analyst = df[df['title'].str.contains("Analyst")]

In [75]:
Analyst.head()

,Unnamed: 0,city,company,salary,summary,title,parsed_salary
29,31,San+Francisco,California State University,"$50,400 - $60,000 a year",Compile and analyze data for written reports a...,"Administrative Analyst/Specialist, Exempt I - ...",55200.0
402,405,New+York,AllianceBernstein,"$117,500 - $127,500 a year",C onduct quantitative and statistical research...,AVP/Quantitative Analyst,122500.0
404,407,New+York,AllianceBernstein,"$117,500 - $127,500 a year",C onduct quantitative and statistical research...,AVP/Quantitative Analyst,122500.0
411,414,New+York,Datacom Technology Group,"$200,000 a year",Should have experience conducting empirical re...,Quantitative Analyst (Fundamental Quant Equiti...,200000.0
420,423,New+York,DEPT OF HEALTH/MENTAL HYGIENE,"$68,239 - $85,644 a year","Experience utilizing mixed methods, including ...","Data Analyst, Bureau of Chronic Disease Preven...",76941.5