## Project 6

In [1]:
import os
import subprocess
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
import scipy
import requests
from imdbpie import Imdb
import nltk
import matplotlib.pyplot as plt
import urllib
from bs4 import BeautifulSoup
import nltk
import collections
import re
import csv
import psycopg2

%matplotlib inline

### Pre-Work: Write a problem statement

## Part 1: Acquire the Data

##### The first thing I did was look for the easiest way to aquire all the data on imdb the fastest. I came accross imdbpy, a python package, which has option for downloading the entire database directly to a sql server. While the idea at first sounded apealing, I am already having computing power issues and will resist the urge to get everything.

##### Shifting gears, lets try imdbpie...

#### 1. Connect to the IMDB API

In [2]:
# was not sure what this was or what this did, but hit tab and found top250 as an option
imdb = Imdb()
imdb = Imdb(anonymize=True)

#### 2. Query the top 250 rated movies in the database

In [3]:
# query top 250 movies and create a dataframe df250
top250 = imdb.top_250()
df250 = pd.DataFrame(top250)

In [4]:
df250.head(2)

,can_rate,image,num_votes,rating,tconst,title,type,year
0,True,{u'url': u'http://ia.media-imdb.com/images/M/M...,1677724,9.3,tt0111161,The Shawshank Redemption,feature,1994
1,True,{u'url': u'http://ia.media-imdb.com/images/M/M...,1147897,9.2,tt0068646,The Godfather,feature,1972

#### 3. Only select the top 25 movies and delete the uncessary rows

In [5]:
# slice the first 25 movies and create a dataframe df25
top25 = imdb.top_250()[0:25]
df25 = pd.DataFrame(top25)

In [6]:
df25.head(2)

,can_rate,image,num_votes,rating,tconst,title,type,year
0,True,{u'url': u'http://ia.media-imdb.com/images/M/M...,1677724,9.3,tt0111161,The Shawshank Redemption,feature,1994
1,True,{u'url': u'http://ia.media-imdb.com/images/M/M...,1147897,9.2,tt0068646,The Godfather,feature,1972

#### 4. Write the Results to a csv

In [7]:
WHICH RESULTS?

Object `RESULTS` not found.

In [ ]:
WHICH RESULTS

## Part 2: Wrangle the text data

#### 1. Convert the listing identification numbers (tconst) from the first dataframe to a list

In [8]:
titleList = df25['tconst']

In [9]:
titleList

0     tt0111161
1     tt0068646
2     tt0071562
3     tt0468569
4     tt0108052
5     tt0050083
6     tt0110912
7     tt0167260
8     tt0060196
9     tt0137523
10    tt0120737
11    tt0080684
12    tt0109830
13    tt1375666
14    tt0167261
15    tt0073486
16    tt0099685
17    tt0133093
18    tt0047478
19    tt0076759
20    tt0317248
21    tt0114369
22    tt0102926
23    tt0038650
24    tt0114814
Name: tconst, dtype: object

In [56]:
title = imdb.get_title_by_id('tt0111161')
title

In [150]:
print 'year:' , title.year
print 'total_votes:' , title.votes
print 'title:' , title.title
print 'rating:' , title.rating

year: 1994
total_votes: 1677899
title: The Shawshank Redemption
rating: 9.3

In [145]:
title.data.keys()[14]

u'num_votes'

In [63]:
tmp = imdb.get_title_reviews('tt0111161', max_results=25)

In [79]:
type(tmp[0].text)

unicode

In [94]:
for i in tmp:
    print i.rating

10
10
None
10
None
8
10
10
10
10
10
10
10
10
8
10
10
10
10
8
10
10
7
10
10

In [75]:
x = str(tmp[0].text)

In [116]:
# first have to get the title and reviews
user = imdb.get_title_reviews('tt0111161',max_results = 5)


print 'username:', user[0].username
print 'summary:', user[0].summary
print 'status:', user[0].status
print 'location:', user[0].user_location
print 'user_score:', user[0].user_score
print 'user_score_count:', user[0].user_score_count
print 'rating:', user[0].rating
print 'description:', user[0].text




#username, text, date, rating, summary, status, user_location, user_score, user_score_count)

#print user[1].user_score_count

username: carflo
summary: Tied for the best movie I have ever seen
status: G
location: Texas
user_score: 2102
user_score_count: 2421
rating: 10
description: Why do I want to write the 234th comment on The Shawshank Redemption? I am not sure - almost everything that could be possibly said about it has been said. But like so many other people who wrote comments, I was and am profoundly moved by this simple and eloquent depiction of hope and friendship and redemption.

The only other movie I have ever seen that effects me as strongly is To Kill a Mockingbird. Both movies leave me feeling cleaner for having watched them.

I didn't intend to see this movie at all: I do not like prison movies and I don't normally watch them. I work at a branch library and one day as I was checking The Shawshank Redemption out to one of our older patrons, she said to me, "Whenever I feel down or depressed, I check out this movie and watch it and it always makes me feel better." At the time, I thought that was very strange. One day there was nothing on TV except things I absolutely would not watch under any circumstance or things that I had seen too many times already. I remembered what she said, so I watched it. I have watched it many many times since then and it gets better with every showing.

No action, no special effects - just men in prison uniforms talking to each other.

The Shawshank Redemption and To Kill a Mockingbird are the best movies I have ever seen. I do not judge it by it's technical merits - I don't really care about that. I have read that Citizen Kane or The Godfather or this or that movie is the best movie ever made. They may have the best technique or be the most influential motion pictures ever made, but not the best. The best movies are ones that touch the soul. It takes a movie like The Shawshank Redemption to touch the soul.

In [ ]:
def get_movie_data():
    for i in titeList:
        title = imdb.get_title_by_id(i)
        reviewCount = 
        rating = imdb.get
        
        movieTitle.append(title)
            for x in 
            
def get_reviewer_data():
    for x in titleList:
        user = imdb.get_title_reviews(username)

In [82]:
tmp[0].date

u'2003-11-26'

In [76]:
type(x)

str

In [68]:
type(tmp[0])

imdbpie.objects.Review

In [72]:
tmp2 = str(tmp[0])

tmp2.text

AttributeError: 'str' object has no attribute 'text'

In [195]:
# test= []
# for i in titleReviews:
#     test.append(i,imdb.get_title_reviews(max_results =2))

#### 2. Scrape the reviews for the top 25 movies

*Hint*: Use a loop to scrape each page at once

##### 'http://www.imdb.com/title/tt0111161/reviews'

In [11]:
# #create list of total review counts (for range)

# from scrapy.selector import Selector
# import requests

# URL2 = "http://www.imdb.com/title/tt0111161/reviews?start=0"


# r = requests.get(URL2)
# test = Selector(text = r.text).xpath('//*[@id="tn15content"]/table[2]/tbody/tr/td[2]/text').extract()

# test

# #countReview = Selector(text=r.text).xpath('//*[@id="title-overview-widget"]/div[3]/div[2]/div[3]/div[2]/span/a[1]/text()').extract()

# #//*[@id="tn15content"]/table[2]/tbody/tr/td[2]

# #countReview2 = Selector(text=r.text).xpath('//*[@id="tn15content"]/table[3]/tbody/tr/td[1]/text').extract()

# #tmpp2 = countReview[0].encode('utf-8')
# #tmpp2

# #countReview2

# #countReview

In [129]:
# URL2 = "http://www.imdb.com/title/tt0111161/reviews?start=0"

# r = requests.get(URL2)
# countR = Selector(text=r.text).xpath('//*[@id="tn15content"]/table[2]/tbody/tr/td[2]').extract()

In [130]:
# countR

[]

# http://www.imdb.com/title/tt0111161/reviews?start=0

### Generate StarterList of URLs

In [152]:
# URL = "http://www.imdb.com/title/"

# startURL = []
# for i in titleList:
#     startURL.append(URL + i)
    
# startURL

In [151]:
# newURL = []

# for i in startURL:
#     newURL.append(i + '/reviews?start=')
    
# newURL

### Get list of total review counts per movie

In [153]:
# import re

# reviews = []
# for n in newURL:
#     r = requests.get(n + '0')
#     HTML = r.text
#     tmp = Selector(text=HTML).xpath("//*[@align='right']/text()").extract()
#     reviews.append(int(re.findall(r'[0-9]+', tmp.pop()).pop().encode('ascii')))

In [154]:
# reviews

In [155]:
# multiple = [(i/10)+1 for i in reviews]

In [156]:
# multiple

# Add multiples to List

In [157]:
# titleReviews = zip(titleList, reviews, multiple)

In [158]:
# titleReviews

In [159]:
# myrange=range(titleReviews[0][2] + 1)

In [160]:
# myrange

In [161]:
# str(myrange[3]*10)

# Get Reviews!

In [162]:

# for movie in titleReviews:
#     for i in range(movie[2] +1):
#         r = requests.get(newURL + str(i*10))
#         HTML = r.text
#         names = Selector(text=HTML).xpath("//*[@align='right']/text()").extract()

In [163]:
# ################################################################################################################################
# ################################################################################################################################
# ################################################################################################################################

# from scrapy.selector import Selector
# import requests

# url555 = 'http://www.imdb.com/title/tt0076759/reviews?start=0'

# r = requests.get(url555)
# HTML = r.text

# names = Selector(text=HTML).xpath("//*[@align='right']/text()").extract()

# import re
# re.findall(r'[0-9]+', names.pop()).pop().encode('ascii')

# ################################################################################################################################
# ################################################################################################################################
# ################################################################################################################################

### Get list with reviews per movie

In [164]:
# numbers = range(0,5000,10)
# numbers

In [165]:
# from scrapy.selector import Selector
# import requests

# url5 = 'http://www.imdb.com/title/tt0111161/reviews?start=0'

# r = requests.get(url5)
# HTML = r.text
# countRR = Selector(text=HTML).xpath('//*[@align="right"]').extract()


# tmp = countRR[0]


# names = Selector(text=HTML).xpath("//*[@align='right']/text()").extract()

# import re
# re.findall(r'[0-9]+', names.pop()).pop().encode('ascii')

# # tmppp = countRR[0].encode('utf-8')
# # tmppp

In [166]:
# from scrapy.selector import Selector
# import requests

# URL2 = "http://www.imdb.com/title/tt0111161/"

# r = requests.get(URL2)
# #soup = BeautifulSoup(r.text)
# countReview = Selector(text=r.text).xpath('//*[@id="title-overview-widget"]/div[3]/div[2]/div[3]/div[2]/span/a[1]/text()').extract()


# tmpp = countReview[0].encode('utf-8')
# tmpp

In [167]:
# import re

# re.findall('\d',tmpp)

In [168]:
# URL3 = "http://www.imdb.com/title/tt0111161/reviews?start=0"

# r = requests.get(URL3)
# soup = BeautifulSoup(r.text)


# soup.select(<td align="right">
# 4110 reviews in total&nbsp;

# </td>)

# # x = soup.select('tr')

# # x[0].select('td')


# #soup.select('a.xh-highlight')


# # soup.select('#title-overview-widget > div.plot_summary_wrapper > div.titleReviewBar > div.titleReviewBarItem.titleReviewbarItemBorder >
# #             div:nth-child(2) > span > a.xh-highlight')

In [169]:
# soup.select('span', attrs={'class':'xh-highlight'})

In [170]:
# spans = soup.select('span', attrs={'a':'xh-highlight'})
# for span in spans:
#     print span.string

In [171]:
# z = soup.select('span')

In [172]:
# z

In [194]:
# z[12].text

In [173]:
# from scrapy.selector import Selector
# import requests

# URL = "http://www.imdb.com/title/tt0111161/reviews?start=110"



# r = requests.get(URL)
# reviews = Selector(text=r.text).xpath('//*[@id="tn15content"]/p').extract()


# reviews

In [174]:
# reviews = reviews[:-1]

In [175]:
# reviews

In [176]:
# numbers = range(0,5000,10)
# numbers

In [177]:
# URL = "http://www.imdb.com/title/tt0111161/reviews?start=0"


# r = requests.get(URL)
# soup = BeautifulSoup(r.text)
# # reviews start on the 12th position everytime
# #soup.select('p')[12].text

In [178]:
# x = r.content

In [179]:
# x.title()

In [10]:
# soup = BeautifulSoup(r.text, 'lxml')

In [181]:
# end of reviews making it 12 per page... but the count goes up in 10s...
# soup.select('p')[24].text

In [182]:
# pageReviews = soup.select('p')[12:24]

In [183]:
# testDF = pd.DataFrame(pageReviews)

In [184]:
# testDF.head(2)

In [185]:
# ShawURL = "http://www.imdb.com/title/tt0111161/reviews?start="
# count = 0

# r = requests.get(URL + count)
# soup = BeautifulSoup(r.text, 'lxml')
# # reviews start on the 12th position everytime
# soup.select('p')[12].text

In [186]:
# soup.select("a")

In [187]:
# test = soup

In [188]:
# test.xpath('//*[@id="tn15content"]/table[2]/tbody/tr/td[2]')

#### 3. Work through each title and find the most common descriptors

*Hint*: "soup" from BeautifulSoup is the html returned from all 25 pages. You'll need to either address each page individually or break them down by elements

#### 4. Convert to a string and remove the non AlphaNumeric characters

*Hint*: Use regular expressions!

#### 5. Tokenize the Output

In [189]:
# from nltk.tokenize import sent_tokenize, word_tokenize

# test = 'I hate this movie. It was great. It was not great, I did not love it.'

# count = word_tokenize(test)
# count

#### 6. Convert to a Dataframe for Easy Viewing

####  7. Find the rows with the top five descriptive words

In [40]:
words = ('best', 'hope', 'love', 'beautiful', 'great')

#### 8. Write the results to a csv

#### 9. Repeat the process for the other top 24 titles

## Part 3: Combine Tables in PostgreSQL

#### 1. Import your two .csv data files into your Postgre Database as two different tables

For ease, we can call these table1 and table2

#### 2. Connect to database and query the joined set

#### 3. Join the two tables

#### 4. Select the newly joined table and save two copies of the into dataframes

## Part 4: Parsing and Exploratory Data Analysis

#### 1. Rename the column headings

#### 2. Run a description of the data

#### 3. Visualize the Data

## Part 3: Build the Decision Tree

#### 1. What is our target attribute?

#### 2. Prepare the data and define the training set

#### 2. Train the Model

#### 3. Set up test data and test the model

#### 5. Check the results

#### 6. What is overfitting and how are we at risk?

In [190]:
# testURL = "http://www.imdb.com/title/tt0111161/reviews?start=0"

# r = requests.get(testURL)
# soup = BeautifulSoup(r.text)

In [191]:
# soup.select('span.reviewCount')

In [192]:
# span itemprop="reviewCount">4,110 user</span>,

In [193]:
# soup.select("span", attrs={"itemprop":"reviewCount"})