In [ ]:
#import packages
import os
import subprocess
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
import scipy
import requests
from imdbpie import Imdb
import nltk
import matplotlib.pyplot as plt
import urllib
from bs4 import BeautifulSoup
import nltk
import collections
import re
import csv
import psycopg2
from scrapy.selector import Selector
import os
import spacy
from spacy.en import English
parser = English()
import unicodedata
import random
from time import sleep
import time



%matplotlib inline

In [124]:
import pandas as pd

df = pd.read_csv('/Users/Paul/Desktop/General_Assembly/DSI_SM_01/projects/01-projects-weekly/project-06/summaryMovie.csv')

In [125]:
df.tail(2)

,title,location,summary_review,review_score,movie_score,genre
11036,The Usual Suspects,United States,a movie you need to watch twice to appreciate,9.0,8.6,Crime
11037,The Usual Suspects,UNKNOWN,""" the great trick the devil ever pull be convi...",10.0,8.6,Crime

In [126]:
# print df.summary_review.unique()

In [127]:
from nltk.tokenize import sent_tokenize, word_tokenize

In [128]:
#tokenize the words of every summary
tmpList = []
for i in df.summary_review:
    tmp = word_tokenize(str(i))
    tmpList.append(tmp)

In [101]:
dfCOPY = df

In [110]:
# for i in df.summary_review:
#     tmpList2 = []
#     tmp = word_tokenize(str(i))
#     tmpList2.append(tmp)
#     dfCOPY.summary_review = [z for z in tmpList2]

In [122]:
# uhh = []
# for i in tmpList:
#     uhh.append(i)

In [121]:
# uhh

In [120]:
# for i in tmpList:
#     print i

In [129]:
#put the list of lists back into the data frame
df.summary_review = [i for i in tmpList]

In [130]:
df.tail(2)

,title,location,summary_review,review_score,movie_score,genre
11036,The Usual Suspects,United States,"[a, movie, you, need, to, watch, twice, to, ap...",9.0,8.6,Crime
11037,The Usual Suspects,UNKNOWN,"[``, the, great, trick, the, devil, ever, pull...",10.0,8.6,Crime

In [142]:
#df['test'] = [i if i == for i in df.summary_review]

In [140]:
df.tail(2)

,title,location,summary_review,review_score,movie_score,genre,test
11036,The Usual Suspects,United States,"[a, movie, you, need, to, watch, twice, to, ap...",9.0,8.6,Crime,"[a, movie, you, need, to, watch, twice, to, ap..."
11037,The Usual Suspects,UNKNOWN,"[``, the, great, trick, the, devil, ever, pull...",10.0,8.6,Crime,"[``, the, great, trick, the, devil, ever, pull..."

In [152]:
df2 = df[[2]]

In [153]:
df2.head()

                                      summary_review
0                                [really, not, good]
1  [you, 're, better, off, stay, well, clear, fro...
2  [so, messy, it, should, be, raptor, ranch, dre...
3                            [of, reptile, and, man]
4                [a, lot, better, then, people, say]

In [ ]:
for i in df2.values():
    df2.ix['test2'] = str(i)

In [ ]:
df2.head()
#    df2.summary_review[str(i)]

In [66]:
df2.head(2)

   summary_review
0  summary_review
1  summary_review